*{
    margin: 0;
    padding: 0;
}

kbd {
    
    display: inline-block;
    width: 6em;
    height: 4em;
    text-transform: uppercase;
    position: relative;
}

kbd > button {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
}

kbd:hover > button {
    display: inline-block;
}

main {
    text-align: center;
}

#main {
    display: inline-block;
    
}

#main > div:nth-child(2){
    margin-left: 2em;
}

#main > div:nth-child(3){
    margin-left: 4em;
}

.key {
    width: 47px;
    height: 69px;
    border-radius: 8px;
    padding: 0 12px;
    line-height: 69px;
    float: left;
    position: relative;
    margin: 0 12px 12px 0;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-family: keyboard, "Arial Rounded", Helvetica, Arial, sans-serif;
    font-size: 24px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}